.top-nav__container {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.top-nav {
  height: 58px;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.397);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}

.navbar-nav .nav-link {
  color: rgb(8, 7, 7);
}

.navbar-nav .nav-link:hover {
  color: rgba(134, 132, 132, 0.733);
}

.navbar-logo {
  display: inline-block;
  width: 8vw;
  height: 8vw;
  object-fit: contain;
}

.demo-btn {
  border-radius: 6px;
  border: 1px #fd7e14 solid;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 0);
  color: #fd7e14;
  font-weight: 600;
}

.demo-btn:hover {
  background-color: #fd7e14;
  color: #fff;
  transition: 0.2s;
}

/* topnav small screen rules */
@media only screen and (max-width: 767px) {
  .top-nav {
    height: 10%;
    text-align: center;
  }

  .navbar-logo {
    width: 80px;
    height: 10%;
  }
}
/* topnav small screen rules */
